form[name="enterBidForm"] {
  md-select {
    &.ng-invalid {
      color: #F44336;
    }
    &.ng-invalid:focus {
      color: #F44336;
    }
    &.ng-invalid:hover {
      color: #F44336;
    }
  }
  .control-group {
    padding: 0 16px;
  }
}


