$margin-size: 6px;
.header {
//  background-image: url('/images/header.png');
//  background-repeat: repeat-x;


  h1 {
//    font-size: 1.5em;
//    -webkit-text-stroke: 2px white;
//    color: #000000;
  }
  .menu-button  {
    //margin-top: $margin-size;
    //margin-bottom: $margin-size;
  }

}

@-moz-document url-prefix() {
  [layout-fill] {
    margin: 0;
    min-height: 100%;
    width: 100%;
  }
}

#body {
  position:absolute;
  height: calc(100% - 64px);
  width: 100%;
}

#menu {
  height: 100%;
}

.md-sidenav-right {
  .md-button {
    width: 100%;
    text-align: left;
    .fa {
      margin-right: 16px;
    }
  }
  .version {
    a {
      color: gray;
    }
    a:visited {
      color: gray;
    }
    font-size: 0.8em;
  }
}

.md-button.md-fab.md-fab-bottom-right {
  position: fixed;
}

md-content {
  &.below-sub-header {
    position:absolute;
    height: 100%;
    width: 100%;
  }
  &.below-sub-header-stationary {
    position:absolute;
    height: calc(100% - 64px);
    width: 100%;
  }
  &.below-header {
    position:absolute;
    height: 100%;
    width: 100%;
  }
  md-list.scroll-shrink-list {
    min-height: 650px;
  }
}

ul {
  padding-left: 16px;
  list-style-type: none;
  line-height: 1.7em;
}

.marketing {
  margin-bottom: 16px;
}

.menu-button {
  min-width: 0em;
    padding-top: $margin-size;
    padding-bottom: $margin-size;
}

.below-sub-header-stationary {
  position:absolute;
  height: calc(100% - 64px);
  width: 100%;
}
.md-button {
  &:not(.md-fab):not(.menu-button) {
  }
}
i {
  &.lastYearWBC-1 {
    color: #FFD700;
  }
  &.lastYearWBC-2 {
    color: #C0C0C0;
  }
  &.lastYearWBC-3 {
    color: #CD7F32;
  }
}

.weather-data-img {
  width: 80px;
  height: 80px;
}

loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

// Classes
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

._md-list-item-inner {
  width: initial !important;
}

.number-card {
  font-size: 5.5em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.amount-positive {
  color: inherit;
}

.amount-negative {
  color: rgb(198, 22, 5);
}

already-participated {
  a {
    font-size: 1.2em;
    margin-right: 4px;
    color: gray;
  }
  a:visited {
    color: darkgray;
  }
}

@import "list";
@import "enter-bid";

