<div layout="row" layout-sm="column" layout-padding>
  <md-content layout="row" layout-wrap>
    <develop-card flex-sm="100" flex="50" flex-md="100" class="ng-hide"></develop-card>
    <login-card flex-sm="100" flex="50" flex-md="100" class="ng-hide"></login-card>
    <account-warning-card flex-sm="100" flex-md="100" flex="50" class="ng-hide" ng-if="loggedIn"></account-warning-card>
    <join-race-card flex-sm="100" flex-md="100" flex="50" class="ng-hide" ng-if="loggedIn && currentRace.opened"></join-race-card>
    <last-race ng-if="loggedIn" ></last-race>
    <already-participated flex-sm="100" flex-md="100" flex="50" ng-if="loggedIn && currentRace.closed"></already-participated>
    <after-qualify-card flex-sm="100" flex-md="100" flex="50" class="ng-hide" ng-if="loggedIn"></after-qualify-card>
    <last-year ng-if="loggedIn"></last-year>
    <weather-forecast-card></weather-forecast-card>
    <join-wbc-card flex-sm="100" flex-md="100" flex="50" class="ng-hide" ng-if="loggedIn"></join-wbc-card>
  </md-content>
</div>
