<md-toolbar class="md-hue-1">
  <h2 class="md-toolbar-tools">
    <span ng-if="bid.get.firstCrash" ng-bind-html="bid.get.player | playerName" flex>
    </span>
    <strong ng-if="bid.get.firstCrash && bid.race.completed" class="pull-right" ng-bind="bid.get.points">
    </strong>
    <span ng-if="bid.get.firstCrashes">Resultat</span>
  </h2>
</md-toolbar>
<md-content class="below-sub-header-stationary">
  <section>
    <md-subheader class="md-primary">Grid</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line" ng-repeat="grid in bid.get.grid">
          <div class="md-list-item-text">
            <p>{{grid.name}}<strong ng-if="grid.points" class="pull-right">{{grid.points}}</strong></p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Hurtigste kører</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line">
          <div class="md-list-item-text">
            <p>{{bid.get.fastestLap.name}}<strong ng-if="bid.get.fastestLap.points" class="pull-right">{{bid.get.fastestLap.points}}</strong></p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Podium</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line" ng-repeat="podium in bid.get.podium">
          <div class="md-list-item-text">
            <p>{{podium.name}}<strong ng-if="podium.points" class="pull-right">{{podium.points}}</strong></p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">{{bid.race.selectedDriver.name}}</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p>Starter som nummer {{bid.get.selectedDriver[0]}}<strong ng-if="bid.get.selectedDriverPoints[0]" class="pull-right">{{bid.get.selectedDriverPoints[0]}}</strong></p>
        </div>
      </md-list-item>
      <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p>Slutter som nummer {{bid.get.selectedDriver[1]}}<strong ng-if="bid.get.selectedDriverPoints[1]" class="pull-right">{{bid.get.selectedDriverPoints[1]}}</strong></p>
        </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Først udgået</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line" ng-if="bid.get.firstCrash">
          <div class="md-list-item-text">
            <p>{{bid.get.firstCrash.name}}<strong ng-if="bid.get.firstCrash.points" class="pull-right">{{bid.get.firstCrash.points}}</strong></p>
          </div>
      </md-list-item>
      <md-list-item class="md-1-line" ng-repeat="crash in bid.get.firstCrashes">
          <div class="md-list-item-text">
            <p>{{crash.name}}</p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Pole tid</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p>{{bid.get.polePositionTimeInText}}</p>
        </div>
      </md-list-item>
    </md-list>
  </section>
</md-content>
<md-button class="md-fab md-fab-bottom-right f2015-fab-bottom-right" aria-label="Indsend resultat" ng-if="bid.submitResult" ng-click="bid.submitResult()">
  <i class="fa fa-upload"></i>
</md-button>
<back ng-if="!bid.submitResult"></back>
