<md-toolbar class="md-hue-1" md-scroll-shrink>
  <h2 class="md-toolbar-tools">
    <span flex>Løb</span>
  </h2>
</md-toolbar>
<md-content class="below-sub-header">
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="race in races.races.all track by $index" ng-click="races.navigateTo(race)" ng-disabled="(race.waiting)">
      <div class="md-list-item-text">
        <h3><strong>{{::race.name}}</strong></h3>
        <p>{{::race | raceStatus}} <span ng-if="race.opened" am-time-ago="race.closeDate"></span><span ng-if="race.waiting" am-time-ago="race.openDate"></span></p>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
<md-button class="md-fab md-fab-bottom-right md-accent" aria-label="Jeg skal deltage" ng-if="races.currentRace.opened" ui-sref="f2015.race.enter-bid">
  <i class="fa fa-plus"></i>
</md-button>
