<md-sidenav class="md-sidenav-right" md-component-id="drawer" md-is-locked-open="$mdMedia('gt-sm')" ng-class="menu.closeButtonHidden ? 'md-whiteframe-z1' : 'md-whiteframe-z2'">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Velkommen {{menu.credentials.firstName}}</h1>
  </md-toolbar>
  <md-content layout-padding flex>
    <md-list>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.home" ng-click="menu.toggle()">
          <i class="fa fa-fw fa-home fa-lg"></i> Forside
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.races" ng-click="menu.toggle()" ng-disabled="!menu.loggedIn">
          <i class="fa fa-fw fa-flag-checkered fa-lg"></i> Løb
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.wbc" ng-click="menu.toggle()" ng-disabled="!menu.loggedIn">
          <i class="fa fa-fw fa-trophy fa-lg"></i> WBC
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.profile" ng-click="menu.toggle()" ng-disabled="!menu.loggedIn">
          <i class="fa fa-fw fa-user fa-lg"></i> Profil
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.password" ng-click="menu.toggle()" ng-disabled="!menu.loggedIn">
          <i class="fa fa-fw fa-lock fa-lg"></i> Adgangskode
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.account" ng-click="menu.toggle()" ng-disabled="!menu.loggedIn">
          <i class="fa fa-fw fa-lg fa-dollar"></i> Konto <span ng-if="menu.account.balance"> - {{menu.account.balance}} kr</span>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.drivers" ng-click="menu.toggle()" ng-disabled="!menu.credentials.playername">
          <i class="fa fa-fw fa-lg fa-tachometer"></i> Kører
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary menu-button" ui-sref="f2015.rules" ng-click="menu.toggle()">
          <i class="fa fa-fw fa-lg fa-info"></i> Regler
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button ng-click="menu.toggle()" class="md-primary" ng-hide="menu.closeButtonHidden">
          <i class="fa fa-fw fa-lg fa-close"></i> Luk menu
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
  <md-content layout layout-align="center">
    <p class="version"><i class="fa fa-github"></i> <a ng-href="https://github.com/bregnvig/F2015/commit/{{menu.revision}}" target="_blank">{{menu.revision | limitTo: 7}}</a></p>
  </md-content>
</md-sidenav>
