<md-toolbar class="md-hue-1" md-scroll-shrink>
  <h2 class="md-toolbar-tools">
    <span flex>Kører</span>
  </h2>
</md-toolbar>
<md-content class="below-sub-header">
  <md-list>
    <md-list-item class="md-1-line" ng-repeat-start="driver in drivers.all track by $index" ng-click="drivers.navigateTo('f2015.drivers.show', {id: driver.id})">
      <div class="md-list-item-text" >
        <p>{{::driver.name}}<strong ng-if="driver.points" class="pull-right">{{driver.points}} points</strong></p>
      </div>
    </md-list-item>
    <md-divider ng-repeat-end ng-if="!$last"></md-divider>
  </md-list>
</md-content>
