<md-toolbar class="md-hue-1" md-scroll-shrink>
  <h2 class="md-toolbar-tools">
    <span flex>{{driver.get.name}}</span>
    <md-switch ng-model="driver.get.active" aria-label="Aktiv?" ng-click="driver.activateDriver()" ng-if="driver.credentials.gameAdministrator">
      Aktiv
    </md-switch>
  </h2>
</md-toolbar>
<md-content class="below-sub-header">
  <div  layout-sm="column" layout="row" layout-margin>
    <md-card flex class="md-whiteframe-z1">
      <md-toolbar>
        <h3 class="md-toolbar-tools">
          <span flex>Start gennemsnit</span>
        </h3>
      </md-toolbar>
      <md-card-content>
        <md-content>
          <p class="number-card" ng-bind="driver.avgGrid"></p>
        </md-content>
      </md-card-content>
    </md-card>
    <md-card flex class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <h3 class="md-toolbar-tools">
          <span flex>Slut gennemsnit</span>
        </h3>
      </md-toolbar>
      <md-card-content>
        <md-content>
          <p class="number-card" ng-bind="driver.avgPosition"></p>
        </md-content>
      </md-card-content>
    </md-card>
    <md-card flex class="md-whiteframe-z1">
      <md-toolbar class="md-warn">
        <h3 class="md-toolbar-tools">
          <span flex>Udgået</span>
        </h3>
      </md-toolbar>
      <md-card-content >
        <md-content>
          <p class="number-card" ng-bind="driver.retired"></p>
        </md-content>
      </md-card-content>
    </md-card>
  </div>
  <md-tabs md-selected="1">
    <md-tab label="Kvalifikation {{driver.previousYear}}">
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="result in driver.qualifyResult">
          <div class="md-list-item-text" >
            <h3>{{result.raceName}}<strong class="pull-right">{{result.QualifyingResults[0].position }}</strong></h3>
            <p>{{result.QualifyingResults[0] | ergastQualifyTime}}</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab label="Resultat {{driver.previousYear}}">
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="result in driver.raceResult">
          <div class="md-list-item-text" >
            <h3>{{result.raceName}}<strong class="pull-right">{{result.Results[0].position }}</strong></h3>
            <p>{{result.Results[0].status}}</p>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tabs>
</md-content>
<back></back>
