<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="drawer" md-is-locked-open="$media('gt-md')">
  <md-toolbar ng-class="header.menuButtonHidden ? 'md-hue-2' : ''">
    <h1 class="md-toolbar-tools">Velkommen {{header.credentials.firstName}}</h1>
  </md-toolbar>
  <md-content class="md-padding">
    <md-button class="md-primary" ui-sref="f2015.home" ng-click="menu.toggle()">
      <i class="fa fa-fw fa-home fa-lg"></i> Forside
    </md-button>
    <md-button class="md-primary" ui-sref="f2015.races" ng-click="menu.toggle()">
      <i class="fa fa-fw fa-flag-checkered fa-lg"></i> Løb
    </md-button>
    <md-button class="md-primary" ui-sref="f2015.wbc" ng-click="menu.toggle()">
      <i class="fa fa-fw fa-trophy fa-lg"></i> WBC
    </md-button>
    <md-button class="md-primary" ui-sref="f2015.profile" ng-click="menu.toggle()">
      <i class="fa fa-fw fa-user fa-lg"></i> Profil
    </md-button>
    <md-button class="md-primary" ui-sref="f2015.password" ng-click="menu.toggle()">
      <i class="fa fa-fw fa-lock fa-lg"></i> Adgangskode
    </md-button>
    <md-button class="md-primary" ui-sref="f2015.account" ng-click="menu.toggle()">
      <i class="fa fa-fw fa-lg fa-dollar"></i> Konto <span ng-if="menu.account.balance"> - {{menu.account.balance}} kr</span>
    </md-button>
    <md-button class="md-primary" ui-sref="f2015.rules" ng-click="menu.toggle()">
      <i class="fa fa-fw fa-lg fa-info"></i> Regler
    </md-button>
    <md-button ng-click="menu.toggle()" class="md-primary" ng-hide="menu.closeButtonHidden">
      <i class="fa fa-fw fa-lg fa-close"></i> Luk menu
    </md-button>
  </md-content>
</md-sidenav>
