<md-toolbar class="md-hue-1">
  <h2 class="md-toolbar-tools">
    <span ng-if="$ctrl.bid.firstCrash" ng-bind-html="$ctrl.bid.player | playerName" flex>
    </span>
    <strong ng-if="$ctrl.bid.firstCrash && $ctrl.race.completed" class="pull-right" ng-bind="$ctrl.bid.points">
    </strong>
    <span ng-if="$ctrl.bid.firstCrashes">Resultat</span>
  </h2>
</md-toolbar>
<md-content class="below-sub-header-stationary">
  <section>
    <md-subheader class="md-primary">Grid</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line" ng-repeat="grid in $ctrl.bid.grid">
          <div class="md-list-item-text">
            <p>{{grid.name}}<strong ng-if="grid.points" class="pull-right">{{grid.points}}</strong></p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Hurtigste kører</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line">
          <div class="md-list-item-text">
            <p>{{$ctrl.bid.fastestLap.name}}<strong ng-if="$ctrl.bid.fastestLap.points" class="pull-right">{{$ctrl.bid.fastestLap.points}}</strong></p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Podium</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line" ng-repeat="podium in $ctrl.bid.podium">
          <div class="md-list-item-text">
            <p>{{podium.name}}<strong ng-if="podium.points" class="pull-right">{{podium.points}}</strong></p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">{{$ctrl.race.selectedDriver.name}}</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p>Starter som nummer {{$ctrl.bid.selectedDriver[0]}}<strong ng-if="$ctrl.bid.selectedDriverPoints[0]" class="pull-right">{{$ctrl.bid.selectedDriverPoints[0]}}</strong></p>
        </div>
      </md-list-item>
      <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p>Slutter som nummer {{$ctrl.bid.selectedDriver[1]}}<strong ng-if="$ctrl.bid.selectedDriverPoints[1]" class="pull-right">{{$ctrl.bid.selectedDriverPoints[1]}}</strong></p>
        </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Først udgået</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line" ng-if="$ctrl.bid.firstCrash">
          <div class="md-list-item-text">
            <p>{{$ctrl.bid.firstCrash.name}}<strong ng-if="$ctrl.bid.firstCrash.points" class="pull-right">{{$ctrl.bid.firstCrash.points}}</strong></p>
          </div>
      </md-list-item>
      <md-list-item class="md-1-line" ng-repeat="crash in $ctrl.bid.firstCrashes">
          <div class="md-list-item-text">
            <p>{{crash.name}}</p>
          </div>
      </md-list-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">Pole tid</md-subheader>
    <md-list layout="column">
      <md-list-item class="md-1-line">
        <div class="md-list-item-text">
          <p>{{$ctrl.bid.polePositionTimeInText}}</p>
        </div>
      </md-list-item>
    </md-list>
  </section>
</md-content>
<md-button class="md-fab md-fab-bottom-right f2015-fab-bottom-right" aria-label="Indsend resultat" ng-if="$ctrl.submitResult" ng-click="$ctrl.submitResult()">
  <i class="fa fa-upload"></i>
</md-button>
<back ng-if="!$ctrl.submitResult"></back>
