<md-toolbar class="md-hue-1" md-scroll-shrink>
  <h2 class="md-toolbar-tools">
    <span flex>Bevægelser</span>
    <md-button aria-label="Information" class="menu-button" ng-click="account.showTransferInfo()"><i class="fa fa-fw fa-lg fa-info"></i></md-button>
  </h2>
</md-toolbar>
<md-content class="below-sub-header">
  <md-list>
    <md-item ng-repeat="movement in account.account.get.entries">
      <md-item-content>
        <div class="md-tile-content">
          <h3>{{movement.message}}</h3>
          <p>{{movement.date |  amCalendar}}</p>
        </div>
        <div class="md-tile-right" style="padding-right: 16px">
          <h3>{{movement.amount}} kr</h3>
        </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
</md-content>
