<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>F2015</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="f2015" ng-controller="HomeCtrl">
    <div layout="column" layout-fill>
      <f2015-header></f2015-header>
      <div layout="row" layout-align-gt-sm="center" flex >
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="drawer" md-is-locked-open="$media('gt-md')">
          <md-toolbar ng-class="header.menuButtonHidden ? 'md-hue-2' : ''">
            <h1 class="md-toolbar-tools">Velkommen {{header.credentials.firstName}}</h1>
          </md-toolbar>
          <md-content class="md-padding">
            <md-button class="md-primary" ui-sref="f2015" ng-click="header.toggleMenu()">
              <i class="fa fa-fw fa-home fa-lg"></i> Forside
            </md-button>
            <md-button class="md-primary" ui-sref="races" ng-click="header.toggleMenu()">
              <i class="fa fa-fw fa-flag-checkered fa-lg"></i> Løb
            </md-button>
            <md-button class="md-primary" ui-sref="wbc" ng-click="header.toggleMenu()">
              <i class="fa fa-fw fa-trophy fa-lg"></i> WBC
            </md-button>
            <md-button class="md-primary" ui-sref="f2015" ng-click="header.toggleMenu()">
              <i class="fa fa-fw fa-user fa-lg"></i> Profil
            </md-button>
            <md-button class="md-primary" ui-sref="account" ng-click="header.toggleMenu()">
              <i class="fa fa-fw fa-lg fa-dollar"></i> Konto <span ng-if="header.account.get"> - {{header.account.get.balance}} kr</span>
            </md-button>
            <md-button class="md-primary" ui-sref="rules" ng-click="header.toggleMenu()">
              <i class="fa fa-fw fa-lg fa-info"></i> Regler
            </md-button>
            <md-button ng-click="header.toggleMenu()" class="md-primary" ng-hide="header.menuButtonHidden">
              <i class="fa fa-fw fa-lg fa-close"></i> Luk menu
            </md-button>
          </md-content>
        </md-sidenav>

        <ui-view flex flex-gt-sm="66" style="position: relative; overflow: auto" class="md-whiteframe-z1"></ui-view>

      </div>
    </div>
    <loading></loading>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="app/app.js"></script>
        <script src="app/authentication/authentication-service.js"></script>
        <script src="app/common/resource.js"></script>
        <script src="app/common/common-filters.js"></script>
        <script src="app/common/common-directive.js"></script>
        <script src="app/common/model/race-model.js"></script>
        <script src="app/common/model/wbc-model.js"></script>
        <script src="app/account/account-service.js"></script>
        <script src="app/home/home.js"></script>
        <script src="app/authentication/login-directive.js"></script>
        <script src="app/account/account.js"></script>
        <script src="app/header/header.js"></script>
        <script src="app/race/races.js"></script>
        <script src="app/wbc/wbc.js"></script>
        <script src="app/loading/loading.js"></script>
        <script src="app/config.js" />
        <!-- endbuild -->
</body>
</html>
