<md-toolbar class="md-hue-1" style="position:fixed;">
  <h2 class="md-toolbar-tools">
    <span ng-bind="wbcPlayer.entries[0].player | playerName"></span>
  </h2>
</md-toolbar>
<md-content style="position: absolute; margin-top: 64px;" layout-fill>
  <md-list style="top: 64px">
    <md-item ng-repeat="entry in wbcPlayer.entries">
      <md-item-content>
        <md-button class="list-item" ui-sref="wbc-player({player: entry.player.playername})">
          <div class="md-tile-content" >
            <h3><strong>{{entry.race.name}}</strong><span class="pull-right">{{entry.points}}</span></h3>
          </div>
        </md-button>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
  <md-button class="md-fab md-fab-bottom-right f2015-fab-bottom-right" ui-sref="wbc" aria-label="Tilbage">
    <i class="fa fa-check"></i>
  </md-button>
</md-content>
