<md-toolbar class="md-hue-1">
  <h2 class="md-toolbar-tools">
    <span flex>{{$ctrl.driver.name}}</span>
    <md-switch ng-model="$ctrl.driver.active" aria-label="Aktiv?" ng-click="$ctrl.activateDriver()" ng-if="$ctrl.credentials.gameAdministrator">
      Aktiv
    </md-switch>
  </h2>
</md-toolbar>
<div class="below-sub-header-stationary">
  <md-content layout="column" layout-fill>
    <section>
      <div  layout-sm="column" layout="row" layout-margin>
        <md-card flex class="md-whiteframe-z1">
          <md-toolbar>
            <h3 class="md-toolbar-tools">Start gennemsnit</h3>
          </md-toolbar>
          <md-card-content>
            <p class="number-card" ng-bind="$ctrl.avgGrid"></p>
          </md-card-content>
        </md-card>
        <md-card flex class="md-whiteframe-z1">
          <md-toolbar class="md-accent">
            <h3 class="md-toolbar-tools">Slut gennemsnit</h3>
          </md-toolbar>
          <md-card-content>
            <p class="number-card" ng-bind="$ctrl.avgPosition"></p>
          </md-card-content>
        </md-card>
        <md-card flex class="md-whiteframe-z1">
          <md-toolbar class="md-warn">
            <h3 class="md-toolbar-tools">Udgået</h3>
          </md-toolbar>
          <md-card-content >
            <p class="number-card" ng-bind="$ctrl.retired"></p>
          </md-card-content>
        </md-card>
      </div>
    </section>
    <section flex layout>
      <md-tabs md-selected="1" flex>
        <md-tab label="Kvalifikation {{$ctrl.previousYear}}">
          <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="result in $ctrl.qualifyResult track by $index">
              <div class="md-list-item-text" >
                <h3>{{::result.raceName}}<strong class="pull-right">{{::result.QualifyingResults[0].position }}</strong></h3>
                <p>{{::result.QualifyingResults[0] | ergastQualifyTime}}</p>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-tab>
        <md-tab label="Resultat {{$ctrl.previousYear}}">
          <md-list>
            <md-list-item class="md-2-line" ng-repeat="result in $ctrl.raceResult track by $index">
              <div class="md-list-item-text" >
                <h3>{{::result.raceName}}<strong class="pull-right">{{::result.Results[0].position }}</strong></h3>
                <p>{{::result.Results[0].status}}</p>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-tab>
        <md-tab label="Kvalifikation {{$ctrl.currentYear}}">
          <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="result in $ctrl.currentQualifyResult track by $index">
              <div class="md-list-item-text" >
                <h3>{{::result.raceName}}<strong class="pull-right">{{::result.QualifyingResults[0].position }}</strong></h3>
                <p>{{::result.QualifyingResults[0] | ergastQualifyTime}}</p>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-tab>
        <md-tab label="Resultat {{$ctrl.currentYear}}">
          <md-list>
            <md-list-item class="md-2-line" ng-repeat="result in $ctrl.currentRaceResult track by $index">
              <div class="md-list-item-text" >
                <h3>{{::result.raceName}}<strong class="pull-right">{{::result.Results[0].position }}</strong></h3>
                <p>{{::result.Results[0].status}}</p>
              </div>
              <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-tab>
      </md-tabs>
    </section>
  </md-content>
</div>
