<md-toolbar class="md-hue-1">
  <h2 class="md-toolbar-tools">
    <span>Adgangskode</span>
  </h2>
</md-toolbar>
<form name="passwordForm">
  <md-content class="md-padding" layout="row" layout-sm="column">
    <md-input-container flex="50" flex-sm="100">
      <label>Ny adgangskode</label>
      <input type="password" name="password1" md-maxlength="20" ng-model="password.first" equals="{{password.second}}">
      <div ng-messages="passwordForm.password1.$error">
        <div ng-message="md-maxlength">Adgangskoden må maksimalt være 20 tegn.</div>
        <div ng-message="equals">Adgangskoderne stemmer ikke overens.</div>
      </div>
    </md-input-container>
    <md-input-container flex="50" flex-sm="100">
      <label>Bekræft ny adgangskode</label>
      <input type="password" name="password2" ng-model="password.second" md-maxlength="20" equals="{{password.first}}">
      <div ng-messages="passwordForm.password2.$error">
        <div ng-message="md-maxlength">Adgangskoden må maksimalt være 20 tegn.</div>
        <div ng-message="equals">Adgangskoderne stemmer ikke overens.</div>
      </div>
    </md-input-container>
  </md-content>
  <md-content class="md-padding" layout="row" layout-align="end center">
    <md-button class="md-accent md-raised" ng-click="password.update()" aria-label="Ændre adgangskode"
               ng-disabled="!password.first || !password.second">
      Skift adgangskode
    </md-button>
  </md-content>
</form>

