<md-dialog aria-label="Indsæt penge" class="account-dialog">
  <form name="$ctrl.transferForm">
    <md-toolbar class="md-hue-1">
      <h2 class="md-toolbar-tools">Overfør penge til anden konto</h2>
    </md-toolbar>
    <md-dialog-content layout layout-padding layout-wrap>
      <md-input-container flex="100" style="margin-top: 18px">
        <label flex>Modtager</label>
        <md-select name="receiver" ng-model="$ctrl.form.receiver" required>
          <md-option ng-repeat="player in $ctrl.players" ng-value="player.playername" >{{player | playerName | noTrophy}}</md-option>
        </md-select>
        <div ng-messages="$ctrl.transferForm.receiver.$error">
          <div ng-message="required">Modtager er påkrævet</div>
        </div>
      </md-input-container>
      <md-input-container flex="100">
        <label>Beløb</label>
        <input type="number" min="0" max="5000" name="message" ng-model="$ctrl.form.amount" required>
        <div ng-messages="$ctrl.transferForm.message.$error">
          <div ng-message="required">Beløb er påkrævet</div>
        </div>
      </md-input-container>
      <md-input-container flex="100">
        <label>Besked</label>
        <input type="text" name="message" ng-model="$ctrl.form.message" maxlength="50" required>
        <div ng-messages="$ctrl.transferForm.message.$error">
          <div ng-message="maxlength">Beskeden må maksimalt være 50 tegn.</div>
          <div ng-message="required">Beskeden er påkrævet</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-disabled="$ctrl.transferForm.$invalid" ng-click="$ctrl.transfer()">
        Overfør
      </md-button>
      <md-button ng-click="$ctrl.close()" class="md-warn">
        Annuller
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
